h1 {
    margin: 5px;
}

header > p {
    font-style: italic;
    font-size: 20px;
    margin: 0;
}


.meat {
    margin: 10px;
}
#newPass {
    padding: 5px;
    border: 2px inset #800808;
    margin: 10px auto;
    min-height: 20px;
}
  
  #howDoUSay {
    border: 2px dotted rgb(132, 132, 255);
    min-height: 200px;
    width: 100%;
  }
  
  #howDoUSay > p {
    color: red;
    padding: 0;
    margin: 5px;
  }